.navbar_barContent{
height: 54px;
background-color: white;
border-bottom: 1px solid #dbdbdb;

}

.navbar_text{
    margin-top: 10px;
}
.navbar_img{
    margin: 15px 10px; 
}
.navbar_searchBar{
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}